<meta name="author" content="Lucas Ruan">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f7f5ef">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#101512">
{{- range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Locale }}" href="{{ .Permalink }}">
{{- end }}
{{- range .AllTranslations }}{{ if eq .Language.Lang "pt-br" }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">
{{- end }}{{ end }}
{{- with (.Site.GetPage "/posts").OutputFormats.Get "RSS" }}
  <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
{{- end }}
